.heading1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    margin-top: 1%;
    margin-bottom: 1%;
}

.small-heading1{
    font-family: 'Montserrat', sans-serif;
}

.small-heading2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 60%;
}
